<div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light w-100">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <span class="navbar-text" *ngIf="isLoggedIn">Welcome Back,</span>
            <img src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png" alt="Login Image" class="img-fluid">
          </li>
        </ul>
      </nav>
  
      <!-- Left Sidebar -->
      <nav class="sidebar col-md-3 py-4">
        <div class="text-center mb-4">
          <img src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png" alt="Login Image" class="img-fluid">
        </div>
  
        <div class="list-group">
          <a routerLink="/login" routerLinkActive="active" class="list-group-item list-group-item-action">
            <i class="fas fa-user"></i> login
          </a>
          <a *ngIf="isLoggedIn" routerLink="/Dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">
            <i class="fas fa-home"></i> Dashboard
          </a>
          <a *ngIf="!isLoggedIn" routerLink="/patients" routerLinkActive="active" class="list-group-item list-group-item-action">
            <i class="fas fa-user"></i> Patients
          </a>
          <a  routerLink="/doctors" routerLinkActive="active" class="list-group-item list-group-item-action">
            <i class="fas fa-user-md"></i> Doctors
          </a>
          <a  routerLink="/assistants" routerLinkActive="active" class="list-group-item list-group-item-action">
            <i class="fas fa-users"></i> Assistants
          </a>
          <a routerLink="/reporting" routerLinkActive="active" class="list-group-item list-group-item-action">
            <i class="fas fa-chart-pie"></i> Reports
          </a>
        </div>
  
        <button  class="btn btn-logout mt-5 mx-3">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </nav>
  
      <!-- Main Content -->
      <div class="col-md-9 py-4">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  