@import "~@fortawesome/fontawesome-free/css/all.css";

.container {
    margin-top: 20px;
  }
  .list-group-item {
    margin-bottom: 10px;
  }
  
  .list-group-item h5 {
    margin-bottom: 0;
  }
  
  .list-group-item .btn {
    margin-top: 5px;
  }
  
  /* Style for the table */
.table th, .table td {
  vertical-align: middle;
}

.table th {
  background-color: #19ad95;
  color: white;
}

.table th, .table td {
  border: 1px solid #dee2e6;
}

/* Style for action buttons */
.action-buttons button {
  margin-right: 5px;
}
