
<div  class="boxes d-flex justify-content-center">
    <div class="box box1 bg-success text-white mx-2">
      <i class="uil uil-thumbs-up"></i>
      <span class="text">Operations</span>
      <span class="number">1,120</span>
    </div>
    <div class="box box2 bg-info text-white mx-2">
      <i class="uil uil-comments"></i>
      <span class="text">Patients</span>
      <span class="number">202</span>
    </div>
    <div class="box box3 bg-primary text-white mx-2">
      <i class="uil uil-share"></i>
      <span class="text">Doctors</span>
      <span class="number">103</span>
    </div>
  </div>
  